.table-container {
  width: 70%;
  margin: auto;
  padding: 20px 0;
  vertical-align: middle;
}
.table-container tr:hover .price {
  color: black;
}
.red-column {
  background-color: #ff0000;
  color: white
}
.green-column {
  background-color: #5cb85c;
  color: white
}

.table-container .ant-table .ant-table-content .ant-table-body {
  margin: 0;
}
