.header-container {
  background-color: #282c34;
  height: 50px;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-container h3 {
  color: white;
  padding: 8px;
}

.table-container {
  width: 70%;
  margin: auto;
  padding: 20px 0;
  vertical-align: middle;
}
.table-container tr:hover .price {
  color: black;
}
.red-column {
  background-color: #F01414;
  color: white
}
.green-column {
  background-color: #009900;
  color: white
}
